<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/}+'home.css'" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <style>/* Add a black background color to the top navigation bar */
    .topnav {
        overflow: hidden;
        background-color: #4267b2;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #29487d;
        color: white;
    }

    /* Style the "active" element to highlight the current page */
    .topnav a.active {

        color: white;
    }

    /* Style the search box inside the navigation bar */
    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;

        font-size: 17px;
    }

    /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
    @media screen and (max-width: 600px) {
        .topnav a, .topnav input[type=text] {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

        .topnav input[type=text] {
            border: 1px solid #ccc;
        }
    }</style>
</head>

<body style="background-color: #e9ebee;">
<div class="topnav">
    <a class="active" href="/"><b>Home</b></a>
    <a href="/account/myprofile"><b>My profile</b></a>
    <form id="searchform" action="/search">

        <div style="width: 50%;
                         float: right;
                         margin-right: 320px;" class="input-group">
            <input type="text" name="keyword" class="search-query form-control" placeholder="Tìm địa điểm"/>
            <span class="input-group-btn">
                            <button style="margin-top: 8px;" id="btnsearch" class="btn" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
        </div>

    </form>
    <a style="float: right;" href="/account/dologout"><b>Logout</b></a>
</div>
<div style="background-color: #e9ebee; margin-top: 30px;width: 60%;height: auto;height: auto;margin-left:auto;margin-right:auto;border: none;">

    <div class="panel panel-default">
        <form action="/addguide" method="post" enctype="multipart/form-data">
            <div style="width: 100%;height: 150px; padding: 20px;">
                <div style="width:50px;height: 70px;float: left;">
                    <th:block th:if="${user.avatar != null}">
                        <img style="border-radius: 50%;" th:src="@{/avatars/}+${user.avatar}" height="55" width="55"/>
                    </th:block>
                    <th:block th:if="${user.avatar == null}">
                        <img style="border-radius: 50%;" th:src="@{/avatars/}+'default-avatar.jpg'" height="55" width="55"/>
                    </th:block>
                </div>
                <textarea required placeholder="Mô tả" style="float:right; width: 93%;height: 70px;"
                          class="form-control"
                          name="description"></textarea>
                <input style="width: 200px;float: left;margin-top: 10px; margin-left: 62px;" class="form-control"
                       placeholder="Địa điểm" name="place"/><br/>
                <input style="width: 200px;float: left;margin-top: 10px; margin-left: 10px;" class="form-control"
                       type="file" name="guideFile"/><br/>
                <button style="float: left;margin-left: 10px;margin-top: 10px;width: 75px;" class="btn btn-primary">Đăng
                </button>
            </div>

        </form>
    </div>

    <th:block th:each="guide : ${listGuide}">
        <div style="margin-top: 10px;">
            <div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <section class="post-heading">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="media">
                                        <div style="display: inline-block;float: left;" class="media-left">
                                            <a href="#">
                                                <th:block th:if="${guide.username.avatar != null}">
                                                    <img class="media-object photo-profile"
                                                         th:src="@{/avatars/}+${guide.username.avatar}"
                                                         width="40" height="40" alt="...">
                                                </th:block>
                                                <th:block th:if="${guide.username.avatar == null}">
                                                    <img class="media-object photo-profile"
                                                         th:src="@{/avatars/}+'default-avatar.jpg'"
                                                         width="40" height="40" alt="...">
                                                </th:block>
                                            </a>
                                        </div>
                                        <div style="margin-left: 50px;" class="media-body">
                                            <a style="font-size: 17px;font-weight: bold;color: #365899;"
                                               th:href="@{/account/profile/}+${guide.username.username}"
                                               th:text="${guide.username.username}" class="anchor-username">
                                            </a><br/>
                                            <a href="#" class="anchor-time"></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                        <section class="post-body">
                            <b>- Địa điểm: </b><span th:text="${guide.place}"></span><br/><br/>
                            <p th:text="${guide.description}"></p>
                            <img width="250" height="200" th:src="@{/images/}+${guide.image}"/>
                        </section>
                        <section class="post-footer">
                            <hr>
                            <div class="post-footer-option container">
                                <ul class="list-unstyled">
                                    <li><a id="like" th:href="@{/like/}+${guide.guideid}"><i  class="glyphicon glyphicon-thumbs-up"></i> Like <span th:text="${guide.likeList.size()}"></span></a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                </ul>
                            </div>
                            <div class="post-footer-comment-wrapper">
                                <div class="comment-form">

                                </div>
                                <div class="comment">
                                    <div class="media">

                                        <div>
                                            <th:block th:each="comment : ${guide.commentList}">
                                                <a th:href="@{/account/profile/}+${comment.username.username}"
                                                   th:text="${comment.username.username}"></a> <span
                                                    th:text="${comment.content}"></span><br/>
                                            </th:block>
                                            <form action="/addcomment" method="post">
                                                <input th:value="${guide.guideid}" hidden name="id"/>
                                                <input style="float: left;width: 91%;" class="form-control"
                                                       name="content"/>
                                                <button style="float: left;width: 75px;" class="btn btn-primary">Đăng
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


    <div class="container">
        <ul class="pagination" id="list">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var pages = /*[[${pages}]]*/;
                var ul = document.getElementById("list");
                var li = document.createElement("li");
                for (var i = 0; i < pages; i++) {
                    var aTag = document.createElement('a');
                    li.appendChild(aTag);
                    aTag.setAttribute('href',i);
                    aTag.innerHTML = i+1;
                    ul.appendChild(li);
                }
                /*]]>*/
            </script>
        </ul>
    </div>
</div>
</body>
<style>
    #custom-search-input {
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #D9230F;
    }

    .search-query:focus + button {
        z-index: 3;
    }
</style>
<script>
    $("#btnsearch").click(function () {
        $("#searchform").submit();
    });
</script>
</html>