<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <style>
        input.hidden {
            position: absolute;
            left: -9999px;
        }

        #profile-image1 {
            cursor: pointer;

            width: 100px;
            height: 100px;
            border: 2px solid #03b1ce;
        }

        .tital {
            font-size: 16px;
            font-weight: 500;
        }

        .bot-border {
            border-bottom: 1px #f8f8f8 solid;
            margin: 5px 0 5px 0
        }
    </style>
</head>
<body>


<div style="margin-top: 50px;" class="container">
    <div class="row">

        <div class="col-md-7 ">

            <div class="panel panel-default">
                <div class="panel-heading"><h4>User Profile</h4></div>
                <div class="panel-body">

                    <div class="box box-info">
                        <form id="updateprofileform" action="/account/updateprofile" enctype="multipart/form-data" method="post">
                            <div class="box-body">
                                <div class="col-sm-6">
                                    <div align="center">
                                        <th:block th:if="${user.avatar != null}">
                                            <img alt="User Pic" id="profile-image1"
                                                 th:src="@{/avatars/}+${user.avatar}"
                                                 class="img-circle img-responsive">
                                        </th:block>
                                        <th:block th:if="${user.avatar == null}">
                                            <img alt="User Pic" id="profile-image1"
                                                 th:src="@{/avatars/}+'default-avatar.jpg'"
                                                 class="img-circle img-responsive">
                                        </th:block>

                                        <input id="profile-image-upload" class="hidden" name="avatarFile" type="file">
                                        <div style="color:#999;">click here to change profile image</div>
                                        <!--Upload Image Js And Css-->

                                    </div>

                                    <br>

                                    <!-- /input-group -->
                                </div>
                                <div class="col-sm-6">
                                    <h4 style="color:#00b1b1;"
                                        th:text="${user.firstname}+' '+${user.lastname}"></h4></span>
                                    <span><p th:text="'Account: '+${user.username}"></p></span>
                                </div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">


                                <div class="col-sm-5 col-xs-6 tital ">First Name:</div>
                                <div class="col-sm-7 col-xs-6 "><input style="outline: none;border: none;"
                                                                       th:value="${user.firstname}" name="firstname"/>
                                </div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">Last Name:</div>
                                <div class="col-sm-7"><input style="outline: none;border: none;"
                                                             th:value="${user.lastname}" name="lastname"/></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">Email:</div>
                                <div class="col-sm-7"><input style="outline: none;border: none;"
                                                             th:value="${user.email}" name="email"/></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">Nationality:</div>
                                <div class="col-sm-7"><input style="outline: none;border: none;"
                                                             th:value="${user.nationality}" name="nationality"/></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">Relition:</div>
                                <div class="col-sm-7"><input style="outline: none;border: none;"
                                                             th:value="${user.relition}" name="relition"/></div>

                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </form>

                    </div>

                </div>
            </div>
            <div style="float: left;" class="profile-userbuttons">
                <button id="formsubmit" type="button" class="btn btn-success btn-sm">Save</button>

                <!--<button type="button" class="btn btn-danger btn-sm">Cancel</button>-->
            </div>
        </div>

    </div>
</div>

<script>
    $(function () {
        $('#profile-image1').on('click', function () {
            $('#profile-image-upload').click();
        });
    });
    $("#profile-image-upload").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#profile-image1').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
    $("#formsubmit").click(function () {
        $("#updateprofileform").submit();
    });
</script>
</body>
</html>